 
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px; 
	color:white;
	background-image: url(../img/bg.jpg);
	background-size: 100%;
}

p {
    padding: 10px;
}

a{
	color:#FFFFFF;
	text-decoration: underline;
	
}
a:hover{
	color:#24B20A;
	text-decoration:none;
}



#wrapper {

    width: 100%;
    min-width: 800px;
    max-width: 2000px;
    margin: 0 auto;

}

#header {
    float: left;
	text-align: center;
    height: 120px;
    width: 100%;

}

#navigation {
	font-size: 18px; 
	background: rgba(0,0,0,0.5);
    float: left;
	text-align: right;
    height: 100px;
    width: 100%;
    text-align: center;
}


#contentliquid {
    float: left;
    width: 100%;
}

#content {

    background: rgba(0,0,0,0.5);
    margin-left:auto;
	margin-right:auto;
	width:100%;
	text-align:center;
}

#leftcolumn {
    float: left;
    background: rgba(0, 0, 0, 0.6);
    width: 150px;
    margin-left: -100%;
}

#footer {
	margin-left:auto;
	margin-right:auto;
    height: 40px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    clear: both;
}
#notes{
	width: 80%;
	height: 80%;
}


.menuentry{
	padding-right:15px;
}

.template, #track_list, #track_details{
	display: none;
}

.track{
	cursor: pointer;
}

#name_field, #distance_field, #location_field, #type_field, #difficulty_field, #time_field, #description_field{
	width: 500px;
	display: block;
}



td{

text-align: justify;
border: 1px solid black;

}

th{
text-align: justify;
border: 1px solid black;
}


#name_format{
width: 30%;
}

#distance_format{
width: 10%;
}

#location_format, #type_format, #difficulty_format{
width: 20%;
}

#action_format{
text-align: center;
}